andrelug/n8nbackupBackup Drive.json
{
  "active": false,
  "connections": {
    "Map": {
      "main": [
        [
          {
            "node": "Get Workflow",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "FunctionItem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FunctionItem": {
      "main": [
        [
          {
            "node": "Move Binary Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Workflow": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Move Binary Data": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Workflow List": {
      "main": [
        [
          {
            "node": "Map",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Daily at 2:30am": {
      "main": [
        [
          {
            "node": "Get Workflow List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2021-10-30T20:41:02.490Z",
  "id": "2",
  "name": "Backup Drive",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "mode": "mergeByIndex"
      },
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        1090,
        600
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "jsonToBinary",
        "options": {
          "useRawData": false
        }
      },
      "name": "Move Binary Data",
      "type": "n8n-nodes-base.moveBinaryData",
      "position": [
        1390,
        600
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "return items[0].json.data.map(item => {\n  return {json: item}\n});"
      },
      "name": "Map",
      "type": "n8n-nodes-base.function",
      "position": [
        840,
        600
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "url": "=https://n8n.andrelug.com/rest/workflows/{{$node[\"Map\"].data[\"id\"]}}",
        "options": {}
      },
      "name": "Get Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        960,
        740
      ],
      "notesInFlow": false,
      "typeVersion": 1,
      "credentials": {
        "httpBasicAuth": {
          "id": "5",
          "name": "n8n Self"
        }
      },
      "notes": "Don't forget to add your credentials for your n8n instance in this Node. Use Basic Auth for this. "
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "url": "https://n8n.andrelug.com/rest/workflows",
        "options": {}
      },
      "name": "Get Workflow List",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        650,
        600
      ],
      "typeVersion": 1,
      "credentials": {
        "httpBasicAuth": {
          "id": "5",
          "name": "n8n Self"
        }
      },
      "notes": "Don't forget to add your credentials for your n8n instance in this Node. Use Basic Auth for this. "
    },
    {
      "parameters": {
        "functionCode": "item = item.data;\nreturn item;"
      },
      "name": "FunctionItem",
      "type": "n8n-nodes-base.functionItem",
      "position": [
        1240,
        600
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "binaryData": true,
        "name": "={{$node[\"Merge\"].data[\"name\"]}}.json",
        "resolveData": true,
        "parents": [
          "1G-PZNRBhG_tITp0ErLFIfIna70e7hhOw"
        ],
        "options": {}
      },
      "name": "Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        1580,
        600
      ],
      "typeVersion": 1,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "12",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 2,
              "minute": 30
            }
          ]
        }
      },
      "name": "Run Daily at 2:30am",
      "type": "n8n-nodes-base.cron",
      "position": [
        460,
        600
      ],
      "typeVersion": 1
    }
  ],
  "settings": {},
  "staticData": null,
  "tags": [],
  "updatedAt": "2021-10-31T00:46:05.254Z"
}